<form
  novalidate
  autocomplete="off"
  name="ProductIndentForm"
  #ProductIndentForm="ngForm"
  (ngSubmit)="onProductSelect(product,ProductIndentForm)"
>
  <!-- <div class="input-group form-group">
        <div class="input-group-prepend"></div>
        <span class="badge badge-success">OrderId:0001</span>
      </div> -->

  <div class="input-group form-group">
    <select
      class="form-control"
      name="FieldProductCategory"
      required
      #FieldProductCategory="ngModel"
      [(ngModel)]="indent.CategoryId"
      (change)="onCategoryChange($event)"
    >
      <option value="null" selected disabled hidden
        >Select Product Category</option
      >
      <option *ngFor="let pcategory of procategory" value="{{pcategory.id}}"
        >{{pcategory.category}}</option
      >
    </select>
  </div>
  <div
    *ngIf="FieldProductCategory.invalid && (FieldProductCategory.dirty || FieldProductCategory.touched || ProductIndentForm.submitted)"
    class="text-danger"
  >
    <div [hidden]="!FieldProductCategory.errors.required">
      Product category is required
    </div>
  </div>
  <div class="form-group">
    <select
      class="form-control"
      name="FieldProductList"
      required
      #FieldProductList="ngModel"
      [(ngModel)]="indent.ProductId"
      (change)="onProductSelected($event)"
    >
      <option value="null" selected disabled hidden>Select Product</option>
      <option *ngFor="let product of productlist" value="{{product.id}}"
        >{{product.productName}}</option
      >
    </select>
  </div>
  <div
    *ngIf="FieldProductList.invalid && (FieldProductList.dirty || FieldProductList.touched || ProductIndentForm.submitted )"
    class="text-danger"
  >
    <div [hidden]="!FieldProductList.errors.required">
      Product selection is required
    </div>
    <div [hidden]="!FieldProductList.errors.pattern">
      Enter valid product
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <input
        type="txt"
        class="form-control"
        placeholder="Quantity"
        [(ngModel)]="indent.ProductQuantity"
        required
        pattern="[0-9]*"
        maxlength="10"
        #FieldProductQuantity="ngModel"
        name="FieldProductQuantity"
        (change)="onQuantity($event)"
        [ngClass]="{'has-error': FieldProductQuantity.invalid && (FieldProductQuantity.dirty || FieldProductQuantity.touched) }"
      /><br />
      <div
        *ngIf="FieldProductQuantity.invalid && (FieldProductQuantity.dirty || FieldProductQuantity.touched || ProductIndentForm.submitted)"
        class="text-danger"
      >
        <div [hidden]="!FieldProductQuantity.errors.required">
          Quantity is required
        </div>
        <div [hidden]="!FieldProductQuantity.errors.pattern">
          Enter valid Quantity
        </div>
      </div>
    </div>
    <div class="col-6">
      <select
        class="form-control"
        name="FieldProductQuantityUnits"
        required
        #FieldProductQuantityUnits="ngModel"
        [(ngModel)]="indent.UnitId"
        (change)="onUnitsChange($event)"
      >
        <option value="null" selected disabled hidden>Select Units</option
        ><option *ngFor="let productunit of unitlist" value="{{productunit.id}}"
          >{{productunit.unit}}</option
        >
      </select>
      <br />
      <div
        *ngIf="FieldProductQuantityUnits.invalid && (FieldProductQuantityUnits.dirty || FieldProductQuantityUnits.touched || ProductIndentForm.submitted)"
        class="text-danger"
      >
        <div [hidden]="!FieldProductQuantityUnits.errors.required">
          Unit is required
        </div>
      </div>
    </div>
  </div>
  <div class="float-right">
    <button type="submit" class="btn btn-sm text-info">
      Add <i class="fa fa-plus"></i>
    </button>
  </div>
  <table class="table table-responsive">
    <thead>
      <tr>
        <th scope="col">Product Category</th>
        <th scope="col">Product Name</th>
        <th scope="col">Quantity</th>
        <th scope="col">Units</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="selectedProducts?.length <= 0">
        <td colspan="10">
          <h3>No data to display</h3>
        </td>
      </tr>
      <tr *ngFor="let item of selectedProducts; let i = index">
        <td scope="col">{{item.CategoryName}}</td>
        <td scope="col">{{item.ProductName}}</td>
        <td scope="col">{{item.ProductQuantity}}</td>
        <td scope="col">{{item.Unit}}</td>
        <td scope="col">
          <a (click)="removeProduct(item) " class="btn text-info"
            ><i class="fa fa-trash"></i
          ></a>
        </td>
      </tr>
    </tbody>
  </table>
</form>
