<ion-card>
  <ion-card-header><ion-card-title>Sign In</ion-card-title></ion-card-header>
  <ion-card-content>
    <ion-grid>
      <form
        novalidate
        autocomplete="off"
        name="LoginForm"
        #LoginForm="ngForm"
        (ngSubmit)="login(LoginForm,user)"
      >
        <ion-row>
          <ion-col size="12" size-sm size-md size-lg size-xl>
            <ion-item>
              <ion-label position="floating">User Name</ion-label>
              <ion-input
                type="text"
                [(ngModel)]="user.UserName"
                required
                #FiledUserName="ngModel"
                name="FiledUserName"
                [ngClass]="{'has-error': FiledUserName.invalid && (FiledUserName.dirty || FiledUserName.touched || LoginForm.submitted) }"
              ></ion-input>
              <div
                *ngIf="FiledUserName.invalid && (FiledUserName.dirty || FiledUserName.touched || LoginForm.submitted)"
                class="text-danger"
              >
                <div [hidden]="!FiledUserName.errors.required">
                  User name is required
                </div>
                <div [hidden]="!FiledUserName.errors.pattern">
                  Enter valid user name
                </div>
              </div>
            </ion-item>
          </ion-col>
          <ion-col size="12" size-sm size-md size-lg size-xl>
            <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input
                type="password"
                [(ngModel)]="user.Password"
                required
                [ngClass]="{'has-error': FieldPassword.invalid && (FieldPassword.dirty || FieldPassword.touched || LoginForm.submitted) }"
                #FieldPassword="ngModel"
                #FieldPasswordInput
                name="FieldPassword"
              >
              </ion-input>
              <ion-icon
                end
                (click)="togglePasswordShow(FieldPasswordInput)"
                [hidden]="showPassword"
                name="eye-off-outline"
              ></ion-icon>
              <ion-icon
                end
                (click)="togglePasswordShow(FieldPasswordInput)"
                [hidden]="!showPassword"
                name="eye-outline"
              ></ion-icon>

              <div
                *ngIf="FieldPassword.invalid && (FieldPassword.dirty || FieldPassword.touched || LoginForm.submitted)"
                class="text-danger"
              >
                <div [hidden]="!FieldPassword.errors.required">
                  Password is required
                </div>
              </div>
            </ion-item>
          </ion-col>
          <ion-col size="12" size-sm size-md size-lg size-xl>
            <button
              type="submit"
              value="Login"
              class="btn btn-primary btn-block"
            >
              Login
            </button>
          </ion-col>
        </ion-row>
      </form>
    </ion-grid>
  </ion-card-content></ion-card
>
