<div class="card">
    <div class="card-header text-center text-success">
      <h3 class="mb-0">Approve Request</h3>
      <div>
       
      </div>
    </div>
    <div class="card-body">
      <form 
      novalidate
      autocomplete="off"
      name="ApproveStallForm"
      #ApproveStallForm="ngForm"
      (ngSubmit)="approveStall(ApproveStallForm)"
      >
      <div class="row">
        <div class="col-6 col-sm-6 col-md-6">
          <div>
            <span class="card-text font-weight-bold"
              >{{Approverow?.merchantName}}</span
            ><br />
            <label class="text-muted card-label">Name</label>
          </div>
        </div>
        <div class="col-6 col-sm-6 col-md-6">
          <div>
            <span class="card-text font-weight-bold"
              >{{Approverow?.mobileNo}}</span
            ><br />
            <label class="text-muted card-label">Mobile No</label>
          </div>
        </div>
		
        <div class="col-6 col-sm-6 col-md-6">
          <div>
            <span class="card-text font-weight-bold">{{Approverow?.stallNo}}</span
            ><br />
            <label class="text-muted card-label">Stall No</label>
          </div>
        </div>

		<div class="col-6 col-sm-6 col-md-6">
          <div>
            <span class="card-text font-weight-bold">{{Approverow?.createdDate | date: 'dd/MM/yyyy'}}</span
            ><br />
            <label class="text-muted card-label">Date</label>
          </div>
        </div>
    </div><br>
        <div class="input-group form-group">
          <div class="mx-auto">
            <input
              type="submit"
              value="Approve"
              class="btn btn-success"
            />&nbsp;&nbsp;&nbsp;
            <input
              type="button"
              value="Cancel"
              class="btn btn-danger"
              (click)="openModal(template)"
            />
          </div>
          <ng-template #template>
            <div class="modal-body text-center">
              <h3 class="mx-auto">Confirm Cancellation</h3>
              <p>Are you sure you want to cancel ?</p>
              <button type="button" class="btn btn-default" (click)="confirm()">
                Yes
              </button>
              <button type="button" class="btn btn-primary" (click)="decline()">
                No
              </button>
            </div>
          </ng-template>
        </div>
      </form>
    </div>
  </div>
